* {
  box-sizing:  border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.base-button {
  width: 4rem; /* Задайте ширину кнопки */
  height: 2rem; /* Задайте высоту кнопки */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  padding-top: 0.25rem/* 4px */;
  padding-bottom: 0.25rem/* 4px */;
}


/* focus:ring-4 focus:outline-none focus:ring-red-800 font-medium */

@tailwind base;
@tailwind components;
@tailwind utilities;
